<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Quotes</title>
</head>
<body class="gradient-background">
    <div class="container">
        <h1>Choose Your <br>Quote Theme</h1>
            <form action="/" class="form" method="POST">
                <div class="grid-container">
                    <button class="btn" value="hope" name="choice">Hope</button>
                    <button class="btn" value="best" name="choice">Best</button>
                    <button class="btn" value="change" name="choice">Change</button>
                    <button class="btn" value="dreams" name="choice">Dreams</button>
                    <button class="btn" value="happiness" name="choice">Happiness</button>
                    <button class="btn" value="faith" name="choice">Faith</button>
                    <button class="btn" value="family" name="choice">Family</button>
                    <button class="btn" value="success" name="choice">Success</button>
                    <button class="btn" value="future" name="choice">Future</button>
                </div>
            </form>
    </div>
    
</body>
</html>